<div class="container">
  <div class="input-container" #input>
    <input
      pjfmAutofocus
      [enabled]="autoFocus"
      [id]=""
      type="text"
      [formControl]="query"
      (focusin)="onInputFocusChange(true)"
      (blur)="onInputFocusChange(false)"
      [placeholder]="placeHolder"
    />
  </div>
  <div
    class="auto-complete-values-container"
    *ngIf="showAutoCompleteValues && queryValue.length > autoCompleteQueryLengthTrigger"
    [ngStyle]="{ 'width.px': autoCompleteWidth }"
    [ngClass]="{ 'show-at-top': showAutoCompleteOnTop }"
  >
    <ul class="auto-complete-values">
      <li
        class="value"
        [ngClass]="{'value__selected': cursorSelectedAutocompleteIndex === i }"
        *ngFor="let value of autoCompleteValues; let i = index;"
        (mousedown)="selectAutocompleteValue(value)"
        (mouseover)="cursorSelectValue(i)"
      >
        {{value.text}}
      </li>
    </ul>
  </div>
</div>
