@page
@model Pjfm.Api.Pages.Gebruiker.Login

@{
    ViewData["Title"] = "Login";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="login-form">
        <div class="form-header">
            <h2>Login</h2>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl"/>
            <div class="form-group">
                <a asp-controller="SpotifyAuthentication" asp-action="Login" class="form-btn-link">Login with spotify</a>
            </div>
            
            <div class="form-group">
                <a asp-page="/user/register" asp-route-returnUrl="@Model.Form.ReturnUrl" class="form-btn-link">No account? Click here to sign up!</a>
            </div>
            
           <div class="form-group">
                <label class="form-label" for="emailForm">E-mailaddress</label>
                <span class="val-label" asp-validation-for="Form.EmailAddress"></span>
                <input type="email" class="form-input" id="emailForm" placeholder="Email address ..." asp-for="Form.EmailAddress"/>
            </div>
            <div class="form-group">
                <label class="form-label" for="passwordForm">Watchwoord</label>
                <span class="val-label" asp-validation-for="Form.Password"></span>
                <input type="password" class="form-input" id="passwordForm" placeholder="Password ..." asp-for="Form.Password" autocomplete="off" />
            </div>
            <div class="form-group">
                <div class="button-container">
                    <button type="submit" class="raised-button raised-button__yellow" style="width: 80%">
                        <span>Login</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="background"></div>