@page
@model Pjfm.Api.Pages.Gebruiker.Login

@{
    ViewData["Title"] = "Login";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="row justify-content-center align-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 login-form">
            <form method="post">
                <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl"/>
                <div class="form-group">
                    <a asp-page="/Account/Register" asp-route-returnUrl="@Model.Form.ReturnUrl" class="form-btn-link">Geen account, klik hier om je aan te melden</a>
                </div>

                <div class="form-group">
                    <label class="form-label" for="emailForm">E-mailaddress</label>
                    <span class="valSpan" asp-validation-for="Form.EmailAddress"></span>
                    <input type="email" class="form-control" id="emailForm" placeholder="Uw e-mailaddress *" asp-for="Form.EmailAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="passwordForm">Watchwoord</label>
                    <span class="valSpan" asp-validation-for="Form.Password"></span>
                    <input type="password" class="form-control" id="passwordForm" placeholder="Uw watchwoord *" asp-for="Form.Password"/>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <input type="submit" class="btnSubmit" value="Login"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



