@page
@model Pjfm.Api.Pages.User.Register

@{
    ViewData["Title"] = "Register";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="login-form">
        <div class="form-header">
            <h2>Register</h2>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl"/>
            <div class="form-group">
                <a asp-page="/user/login" asp-route-returnUrl="@Model.Form.ReturnUrl" class="form-btn-link">Already have an account? Click here to login.</a>
            </div>

            <div class="form-group">
                <label class="form-label" for="userNameForm">Email address</label>
                <span class="val-label" asp-validation-for="Form.Email"></span>
                <input type="email" class="form-input" id="userNameForm" placeholder="Email address ..." asp-for="Form.Email"/>
            </div>
            <div class="form-group">
                <label class="form-label" for="emailForm">Username</label>
                <span class="val-label" asp-validation-for="Form.Username"></span>
                <input type="text" class="form-input" id="emailForm" placeholder="Username ..." asp-for="Form.Username"/>
            </div>

            <div class="form-group">
                <label class="form-label" for="passwordForm">Password</label>
                <span class="val-label" asp-validation-for="Form.Password"></span>
                <input type="password" class="form-input" id="passwordForm" placeholder="Password ..." asp-for="Form.Password"/>
            </div>
            <div class="form-group">
                <label class="form-label" for="confirmPasswordForm">Confirm Password</label>
                <span class="val-label" asp-validation-for="Form.ConfirmPassword"></span>
                <input type="password" class="form-input" id="confirmPasswordForm" placeholder="Confirm password ..." asp-for="Form.ConfirmPassword"/>
            </div>
            <div class="form-group">
                <div class="button-container">
                    <button type="submit" class="raised-button" class="btnSubmit">
                        <span>Register</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="background"></div>