@page
@model Pjfm.Api.Pages.User.SpotifyRegisterCallback

@{
    ViewData["Title"] = "Spotify Register";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="login-form">
        <div class="form-header">
            <h2>Login</h2>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Form.SpotifyAccessToken" value="@Model.Form.SpotifyAccessToken"/>
            
            <div class="form-group">
                <label class="form-label" for="emailForm">Username</label>
                <span class="val-label" asp-validation-for="Form.UserName"></span>
                <input type="text" class="form-input" id="emailForm" placeholder="Username ..." asp-for="Form.UserName"/>
            </div>
            
            <div class="form-group">
                <div class="button-container">
                    <button type="submit" class="raised-button raised-button__yellow" style="width: 80%">
                        <span>Login</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="background"></div>
