<div class="container" [routerLink]="['session', playbackGroup.groupId]">
  <div class="title-container">
    <h3 class="title">{{playbackGroup.groupName}}</h3>
    <span class="listeners-text">{{playbackGroup.listenersCount}} {{playbackGroup.listenersCount === 1 ? 'listener' : 'listeners'}}</span>
  </div>
  <div class="content">
    <div class="image-container" *ngIf="playbackGroup.currentlyPlayingTrack != null">
      <img [src]="playbackGroup.currentlyPlayingTrack.spotifyAlbum.albumImage.url" alt="album cover" />
    </div>
    <div class="group-info-container" *ngIf="playbackGroup.currentlyPlayingTrack != null; else offlineContent">
      <div class="currently-playing-title">Now playing:</div>
      <a class="track-title">[ {{playbackGroup.currentlyPlayingTrack.title}} ]</a>
      <a class="artist-title">[ {{playbackGroup.currentlyPlayingTrack.artists | artistsPipe}} ]</a>
    </div>
    <ng-template #offlineContent>
      <div class="currently-offline-title">Playback group is currently offline</div>
    </ng-template>
  </div>
</div>
