@import "variables";

.container {
  padding: 10px;
  background: $color-secondary;
  border-radius: 20px;

  &:hover {
    background: darken($color-secondary, 2);
    cursor: pointer;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      text-transform: uppercase;
      margin: 0 5px 0 10px;
      font-weight: lighter;
      color: $color-light-blue;
    }

    .listeners-text {
      color: $color-purple;
    }

  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;

    .image-container {
      padding: 5px;
      background: $color-light-blue;
      margin: 10px 10px 10px 0;
      img {
        width: 50px;
        height: 50px;
      }
    }

    .group-info-container {
      display: flex;
      flex-direction: column;

      .currently-playing-title {
        margin-bottom: 10px;
        text-decoration: underline;
      }

      .track-title {
        color: $color-yellow;
        margin-bottom: 4px;
      }

      .artist-title {
        font-size: 12px;
        color: $color-red;
      }
    }

    .currently-offline-title {
      margin: 10px 0;
    }
  }
}
