<div class="container" [routerLink]="['session', '1']">
  <div class="title-container">
    <h3 class="title">PJFM</h3>
    <span class="listeners-text">3 listeners</span>
  </div>
  <div class="content">
    <div class="image-container">
      <img src="/assets/images/album-cover.jpg" alt="album cover" />
    </div>
    <div class="group-info-container">
      <div class="currently-playing-title">Now playing:</div>
      <a class="track-title">[ Book of spells ]</a>
      <a class="artist-title">[ Ian taylor ]</a>
    </div>
  </div>
  <div class="footer"></div>
</div>
