$color-primary: #B75D69;
$color-secondary: #00303e;
$color-dark: #00081a;
$color-danger: #D00000;
$color-warning: #F18F01;

$color-blue: #8e71dc;
$color-green: #efe158;
$color-yellow: #46f127;
$color-light-blue: #66d9ef;
$color-purple: #bb0a6f;
$color-orange: #946c2b;
$color-red: red;

$white: #fff;
$grey-10: #f3f3f3;
$grey-20: #e7e7e7;
$grey-30: #dbdbdb;
$grey-40: #c5c5c5;
$grey-50: #aaa;
$grey-55: #999999;
$grey-60: #868686;
$grey-70: #6f6f6f;
$grey-80: #434343;
$black: #000000;

$breakpoint-xxl: 1750px;
$breakpoint-xl: 1024px;
$breakpoint-l: 850px;
$breakpoint-m: 787px;
$breakpoint-s: 550px;
$breakpoint-xs: 375px;

$font: 'Inconsolata';
