@import "variables";

.container {
  justify-content: center;
  display: flex;

  .playgroup-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;

    pjfm-playbackgroup {
      margin: 10px;
      flex: 1 0 90%;
    }

    @media screen and (min-width: $breakpoint-m) {
      pjfm-playbackgroup {
        flex: 1 0 40%;
      }
    }

    @media screen and (min-width: $breakpoint-xl) {
      pjfm-playbackgroup {
        flex: 1 0 30%;
      }
    }
  }
}

