@import "variables";

.container {
  .input-container {
    display: flex;
    justify-content: center;

    input {
      width: 100%;
      background: $color-dark;
      color: $white;
      border: 2px solid $color-purple;
      padding: 5px 0;

      &:focus {
        color: $color-yellow;
        box-shadow: none;
        outline: $color-orange 2px solid;
      }
    }
  }

  .auto-complete-values-container {
    position: absolute;
    background-color: $color-dark;
    z-index: 10;
    border: 2px solid $color-purple;

    .auto-complete-values {
      list-style-type: none;
      padding: 5px 0;

      margin: 0;

      .value {
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background: lighten($color-dark, 6);
          color: $color-yellow;
        }
      }
    }
  }
}
