<div class="container">
  <div class="input-container" #input>
    <input [id]="" type="text" [formControl]="query" (focusin)="onInputFocusChange(true)" (blur)="onInputFocusChange(false)" />
  </div>
  <div
    class="auto-complete-values-container"
    *ngIf="showAutoCompleteValues && queryValue.length > autoCompleteQueryLengthTrigger"
    [ngStyle]="{ 'width.px': autoCompleteWidth }"
  >
    <ul class="auto-complete-values">
      <li class="value" *ngFor="let value of autoCompleteValues" (mousedown)="onAutoCompleteValueClick(value)">{{value.text}}</li>
    </ul>
  </div>
</div>
