@page
@model Pjfm.Api.Pages.Gebruiker.Registreer

@{
    ViewData["Title"] = "Register";
    Layout = "Shared/_Layout";
}

<div class="login-container">
    <div class="row justify-content-center align-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 login-form">
            <form method="post">
                <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl"/>
                <div class="form-group">
                    <a asp-page="/Account/Login" asp-route-returnUrl="@Model.Form.ReturnUrl" class="form-btn-link">Al een account? Klik hier om in te loggen</a>
                </div>

                <div class="form-group">
                    <label class="form-label" for="userNameForm">E-mailaddress</label>
                    <span class="valSpan" asp-validation-for="Form.Email"></span>
                    <input type="email" class="form-control" id="userNameForm" placeholder="Uw e-mailaddress *" asp-for="Form.Email"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="emailForm">Voornaam</label>
                    <span class="valSpan" asp-validation-for="Form.Username"></span>
                    <input type="text" class="form-control" id="emailForm" placeholder="Uw voornaam *" asp-for="Form.Username"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="passwordForm">Wachtwoord</label>
                    <span class="valSpan" asp-validation-for="Form.Password"></span>
                    <input type="password" class="form-control" id="passwordForm" placeholder="Uw wachtwoord *" asp-for="Form.Password"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="confirmPasswordForm">Bevestig Password</label>
                    <span class="valSpan" asp-validation-for="Form.ConfirmPassword"></span>
                    <input type="password" class="form-control" id="confirmPasswordForm" placeholder="uw bebestigde watchtwoord *" asp-for="Form.ConfirmPassword"/>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <input type="submit" class="btnSubmit" value="Registreer"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>