@import "variables";

.dropdown {
  background: $color-dark;
  padding: 5px 10px;
  color: $color-purple;
  appearance: none;
  border: 2px solid $color-purple;
  box-shadow: 1px 1px 1px 1px $color-purple;
  position: relative;
  transition: .25s all ease;
  font-size: 16px;
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    color: $color-yellow;
  }

  option {
    padding: 5px 10px;
    border-top: 1px solid $white;
    color: $color-purple;
  }
}

.container {
  color: $color-purple;
  width: 100%;

  &:after {
    content: '\25BC';
    position: relative;
    left: calc(100% - 25px);
    top: -25px;
    transition: .25s all ease;
    pointer-events: none;
  }

  &:hover {
    color: $color-yellow;
  }
}
