@import "variables";


$toolbar-height: 70px;

.toolbar {
  height: $toolbar-height;
  background: $color-primary;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;

  .back-button {
    position: absolute;
    left: 20px;
    border-radius: 50%;
    border: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $white;
    background: inherit;
    cursor: pointer;
    font-size: 20px;

    &:hover, &:focus {
      background: darken($color-primary, 4);
    }
  }

  .title {
    color: $white;
    font-size: 30px;
  }
}
.view-container {
  margin: calc(#{$toolbar-height} + 20px) 5px 10px 5px;
}

.toolbar-right-info {
  right: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .user-info {
    display: flex;
    color: $color-yellow;
    align-items: center;

    .user-name {
      font-size: 20px;
      text-transform: capitalize;
    }
  }

  .toolbar-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    @media (min-width: $breakpoint-s) {
      flex-direction: row;
    }
  }

  .toolbar-link {
    color: $color-yellow;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    margin-top: 5px;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &__red {
      color: $color-red;
    }
  }
}
